<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>FiberCare</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-container" class="container">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="\">Fiber Care</a>
      </div>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="\">主页</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">文件<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">另存为</a></li>
            <li><a href="#">注销</a></li>
            <li><a href="#">退出</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">编辑<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">查找</a></li>
            <li><a href="#">保存</a></li>
            <li><a href="#">撤销</a></li>
            <li><a href="#">重复</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">配置<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">修改密码</a></li>
          </ul>
        </li>
        <li><a href="#">选项</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">帮助<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">使用说明</a></li>
            <li><a href="#">关于</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">保存</a></li>
        <li><a href="#">返回</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-xs-3">
      <h3>登录信息</h3>

      <div class="well">
        <p>
          <span class="glyphicon glyphicon-user"></span>
          <span>登录用户：<%= session[:user_id] if session[:user_id] %></span>
        </p>

        <p>
          <%= button_to :logout, class: 'btn btn-danger' do %>
              <i class="glyphicon glyphicon-log-in"></i> 退出
          <% end %>
        </p>
      </div>

    </div>
    <div class="col-xs-9">
      <% if flash[:notice] -%>
          <div id="notice" class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] %>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
