<!DOCTYPE html>
<html>
  <head>
    <title>FiberCare</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div  id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Fiber Care</h3>
          <p>登录用户：<%= session[:user_id] if session[:user_id] %>
          <p><%= button_to '退出', :logout %></p>
        </div>
        <div class="col-xs-9">
          <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] %></dive>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
